* {
	margin: 0;
	padding: 0;
}

header  {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: gray;
	justify-content: space-around;
}
h1 {
	align-items: center;
}


#logo1,#logo2  {
height: 50px;
width: 50px;
}





#logo1 {
  align-self: flex-start; /* Align the first logo to the top */
}

#logo2 {
  align-self: flex-end; /* Align the second logo to the bottom */
}


 .navigation {
 			margin: 0;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			list-style:none;
			background-color: goldenrod;

		}

		.navigation a{
			text-decoration: none;

			display: block;
			padding: 16px;
			color:#fff;
		}
		.navigation a:hover {
			background-color: rgb(233,184,61);
		}

		@media all and (max-width:800px) {
			.navigation {
				justify-content: space-around;
			
			}
			
		}

		@media all and (max-width:600px){
			.header1 h1{
				font-size: 20px;
			}
			#logo1,#logo2 {
				height: 30px;
				width: 30px;
			}
			.header1{
				display: flex;
				justify-content: space-around;
				align-items: ;
			}
			.navigation {
				flex-direction: column;
			}
			.navigation a {
				text-align: center;
				padding: 10px;
				border-top:1px solid rgba(255, 255, 255, 0.3);
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
			.navigation li:last-child a{
				border-bottom: none;

			}


		}

		#myCarousel{
			margin: 200px;
			margin-top:0;

		}


.carousel-control-prev, .carousel-control-next{
	
	

}

.div1, .div2 {
	background-color: blue;
}
.main{
	background-color: lightblue;
}


footer{
	font-size: 50px;
	text-align: center;
	background-color: 	goldenrod;
}

.containerFooter{
	display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

}

label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}



/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

